<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

          <script type="module" src="https://pyscript.net/snapshots/2023.09.1.RC2/core.js"></script>


    <title>Vuejs App</title>
  </head>
  <body>
    <h1>Search Data</h1>
    <div class="container card w-100" id="app">
      <form id="searchForm" class="w-60 m-auto" @submit.prevent="submitForm">
        <div class="row  align-items-center">
          <div class="col-auto">
            <label class="col-form-label" for="fromDate">From Date:</label>
            <input class="form-control" type="date" id="fromDate" v-model="fromDate"  />
          </div>
          <div class="col-auto">
            <label class="col-form-label" for="toDate">To Date:</label>
            <input class="form-control" type="date" id="toDate" v-model="toDate"  />
          </div>
        </div>
        <h3 class="text-center">Select the data to display</h3></label>
        <div class="d-flex mt-3 ">
          <label class="text-center" for="choices">  
            <div class="row">
              <div class="col">
                <input class="btn-check" v-model="job_filter" id="job_tag" type="checkbox" />
                <label class="btn btn-outline-primary" for="job_tag">Job</label>
          </div>
           <div class="col">
             <input class="btn-check" v-model="batch_filter" id="batch_tag" type="checkbox" />
             <label class="btn btn-outline-primary" for="batch_tag">Batch</label>
          </div>
          <div class="col">
            <input class="btn-check" v-model="reference_filter" id="reference_tag" type="checkbox" />
            <label  class="btn btn-outline-primary"for="reference_tag">References</label>
          </div>
            </div>
          
         <div class="row mt-4">
           <div class="col">
             <input class="btn-check" v-model="transfer_date_filter" id="transfer_date_tag" type="checkbox" />
             <label class="btn btn-outline-primary" for="transfer_date_tag">Transfer Date</label>
          </div>

          <div class="col">
             <input class="btn-check" v-model="invoice_number_filter" id="invoice_number_tag" type="checkbox" />
             <label class="btn btn-outline-primary" for="invoice_number_tag">Invoice Number</label>
          </div>

          <div class="col">
            <input class="btn-check" id="amount_filter" type="checkbox" v-model="amount_filter" />
            <label class="btn btn-outline-primary" for="amount_filter">Amount</label>
          </div>
          
           <div >
            <div class="row mt-4">
              <div class="col">
            <input class="btn-check" id="select_all" type="checkbox" v-model="selectAll" />
            <label class="btn btn-outline-primary" for="select_all">Select All</label>
          </div>

            </div>
          <label for="sort">Sort By:</label>
          <select class="form-select" v-model="sort_by" name="sort">
            <option value="Job">Name</option>
            <option value="Due_Date">Due Date</option>
            <option value="Amt">Amount</option>
          </select>
         </div>
          

         <div class="w-full d-flex align-items-center justify-content-center mt-4">
  <button class="btn align-self-center btn-primary" type="submit">Submit</button>
  <button class="btn align-self-center btn-primary" @click="upload_csv" v-if="data.length"  >Upload as CSV</button>
</div>
        </div>
        </div>

      </form>
      <div class="container mt-3">
        <table class="table table-striped-columns" v-if="data.length > 0">
  <thead>
    <tr>
      <th v-if="job_filter">Job</th>
      <th v-if="batch_filter">Batch</th>
      <th v-if="reference_filter">References</th>
      <th v-if="transfer_date_filter">Due Date</th>
      <th v-if="invoice_number_filter">Invoice Number</th>
      <th v-if="amount_filter">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(item, index) in data" :key="index">
      <td v-if="job_filter">{{ item.Job }}</td>
      <td v-if="batch_filter">{{ item.Batch }}</td>
      <td v-if="reference_filter">{{ item.Ref }}</td>
      <td v-if="transfer_date_filter">{{ item.Due_Date }}</td>
      <td v-if="invoice_number_filter">{{ item.Invoice_Nbr }}</td>
      <td v-if="amount_filter">{{ item.Amt }}</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const { createApp, ref } = Vue

      let data = []

      var filteredData;

      createApp({
        data() {
          return {
            data: data,
            selectedDate: null,
            filteredData: data,
            job_filter: false,
            batch_filter: false,
            reference_filter: false,
            transfer_date_filter: false,
            amount_filter: false,
            invoice_number_filter: false,
            selectAll: false,
            sort_by: 'Job', // Default sorting option
            data: [],
            fromDate: '', // Define the fromDate property
            toDate: ''
          }
        },
        async created() {

        },
        methods: {
          async submitForm(e) {
            e.preventDefault()
            if (this.selectAll) {
              this.job_filter = true
              this.amount_filter = true
              this.invoice_number_filter = true
              this.batch_filter = true
              this.reference_filter = true
              this.transfer_date_filter = true
            }

            const formatDate = (date) => {
              const d = new Date(date)
              const year = d.getFullYear().toString() // Get the last two digits of the year
              const month = String(d.getMonth() + 1).padStart(2, '0') // Ensure month is zero-padded
              const day = String(d.getDate()).padStart(2, '0') // Ensure day is zero-padded
              return `${year}-${month}-${day}`
            }

            const formattedFromDate = formatDate(this.fromDate)
            const formattedToDate = formatDate(this.toDate)
              console.log(formattedFromDate, formattedToDate)
            const url = new URL('http://127.0.0.1:8000/api');
              url.searchParams.append('startDate', formattedFromDate);
              url.searchParams.append('endDate', formattedToDate);
              url.searchParams.append('job_filter', this.job_filter);
              url.searchParams.append('batch_filter', this.batch_filter);
              url.searchParams.append('reference_filter', this.reference_filter);
              url.searchParams.append('transfer_date_filter', this.transfer_date_filter);
              url.searchParams.append('sort_by', this.sort_by);

              const response = await fetch(url, {
                method: 'GET',
                
              });


            const data = await response.json()
           
            this.data=data
            filteredData=data
                

            


          },
          upload_csv:async()=>{
           
              const sendData=await fetch('http://localhost:8000/senddata',
                {
                  method:'POST',
                  headers:{
                    'Content-Type':'application/json'
                  },
                  body:JSON.stringify(filteredData)
                })

                const send=await sendData.json()
                console.log(send)
                alert('Data Uploaded Successfully')
            
    
          }
  }
        },
).mount('#app')
    </script>
    <!-- Add this script at the end of your HTML -->
<script>
  const form = document.getElementById('searchForm');
  form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Prevent the default form submission

    // Your form submission logic here
    // For example, you can make the AJAX request to your server.

    // ...
  });
</script>
  </body>
</html>
